In [1]:
# 데이터 분석
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from IPython.display import clear_output

# detail data 전처리

In [4]:
# 데이터 불러오기
df = pd.read_csv('./data/detail.csv')
df

,Unnamed: 0,DBid,Damage dealt/Game,Healed/Game,Time Played,Time Played/Day,Time on fire,Avg Time on Fire,Avg Obj Time,Avg Obj Kills,Cards,Avg Medals/Game,Gold,Silver,Bronze
0,0,111029242162120119198225,"9,374","3,840",17 hours\n,17 hours,2시간 22분 38초,01:34,36 secs,5.71,43,3,129,93,58
1,1,118097079110147012121,"7,959","3,180",85 hours\n,85 hours,8시간 55분 31초,01:15,1 min,6.34,146,3,437,427,359
2,2,49227144191214254099131,"7,292","1,196",29 hours\n,29 hours,2시간 41분 34초,00:58,1 min,7.14,71,3,181,156,145
3,3,38106188000007136056188,"6,118","9,361",11 hours\n,11 hours,1시간 19분 11초,01:25,59 secs,6.04,28,3,51,52,40
4,4,13080044060015097186088,"9,188","1,910",55 hours\n,55 hours,6시간 52분 17초,01:25,42 secs,6.71,122,3,312,222,204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22423,22423,27078075244099180087016,"8,613","1,324",53 hours\n,53 hours,4시간 22분 10초,00:54,1 min,8.38,96,3,303,272,218
22424,22424,243116241127093034212249,"6,337",800,8 hours\n,8 hours,28분 44초,00:35,1 min,6.00,10,2,25,31,37
22425,22425,238047226154239156241160,"4,890","3,069",6 hours\n,6 hours,22분 59초,00:34,1 min,6.95,8,2,15,36,30
22426,22426,130145216197178069097108,"4,019","2,805",4 hours\n,4 hours,3분 10초,00:08,1 min,7.84,5,2,7,18,18
22427,22427,238088121051143004100151,"4,962","1,873",6 hours\n,6 hours,23분 21초,00:36,1 min,6.21,5,2,19,30,32

In [6]:
# 불필요한 변수 삭제
del df['Unnamed: 0']

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22428 entries, 0 to 22427
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   DBid               22428 non-null  object
 1   Damage dealt/Game  22428 non-null  object
 2   Healed/Game        22428 non-null  object
 3   Time Played        22428 non-null  object
 4   Time Played/Day    22428 non-null  object
 5   Time on fire       22428 non-null  object
 6   Avg Time on Fire   22412 non-null  object
 7   Avg Obj Time       22428 non-null  object
 8   Avg Obj Kills      22428 non-null  object
 9   Cards              22428 non-null  int64
 10  Avg Medals/Game    22428 non-null  int64
 11  Gold               22428 non-null  object
 12  Silver             22428 non-null  int64
 13  Bronze             22428 non-null  int64
dtypes: int64(4), object(10)
memory usage: 2.4+ MB

In [8]:
df.head()

,DBid,Damage dealt/Game,Healed/Game,Time Played,Time Played/Day,Time on fire,Avg Time on Fire,Avg Obj Time,Avg Obj Kills,Cards,Avg Medals/Game,Gold,Silver,Bronze
0,111029242162120119198225,"9,374","3,840",17 hours\n,17 hours,2시간 22분 38초,01:34,36 secs,5.71,43,3,129,93,58
1,118097079110147012121,"7,959","3,180",85 hours\n,85 hours,8시간 55분 31초,01:15,1 min,6.34,146,3,437,427,359
2,49227144191214254099131,"7,292","1,196",29 hours\n,29 hours,2시간 41분 34초,00:58,1 min,7.14,71,3,181,156,145
3,38106188000007136056188,"6,118","9,361",11 hours\n,11 hours,1시간 19분 11초,01:25,59 secs,6.04,28,3,51,52,40
4,13080044060015097186088,"9,188","1,910",55 hours\n,55 hours,6시간 52분 17초,01:25,42 secs,6.71,122,3,312,222,204

In [16]:
df.loc[1:4, 'DBid']
df.iloc[1:4, 3:4]

                                      Time Played
1  85 hours\n
2  29 hours\n
3  11 hours\n

In [9]:
# Damaage dealt/Game & Healed/Game 변수