In [5]:
# 크롤링
import requests
from bs4 import BeautifulSoup

# 데이터 분석
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 크롤링

In [4]:
data = []

def find_tag(tag, class1):
    result = tr.find(tag, class_=class1)
    if result != None:
        row.append(result.get_text())
    else: row.append(-1)
    
for page in range(1,224):

    url = 'https://overwatch.op.gg/leaderboards?platform=pc&role_id=0&page={}'.format(page)
    resp = requests.get(url)

    soup = BeautifulSoup(resp.text)

    # table tag
    table = soup.find('table', class_='LeaderBoardsTable')

    # tag
    for tr in table.find('tbody').find_all('tr'):
        row = []
        # #, 플랫폼 
        for span in tr.find_all('span'):
            row.append(span.get_text())
        # 플레이어, K/D, 승률
        for b in tr.find_all('b'):
            row.append(b.get_text())
        # 레벨, 상세 K/D
        for em in tr.find_all('em'):
            row.append(em.get_text().strip())
        # 점수
        find_tag('td', 'ContentCell ContentCell-SkillRating')
        #  폭주 시간
        find_tag('td', 'ContentCell ContentCell-AvgFire')
        # 승
        find_tag('div', 'Win')
        # 패
        find_tag('div', 'Lose')
        # 플레이 시간
        find_tag('td', 'ContentCell ContentCell-PlayTime')
        # 모스트 영웅
        for heros in tr.find_all('td', class_='ContentCell ContentCell-MostHeros'):
            for hero in heros.find_all('img', alt=True): # 모스트 영웅은 img로 되어 있다.
                row.append(hero['alt'])
        # 하나의 행을 data에 축적
        data.append(row)
    
    # 진행사항 출력
    if page % 10 == 0:
        print(page, " page complete")
print("Mission complete")
df = pd.DataFrame(data)

10  page complete
20  page complete
30  page complete
40  page complete
50  page complete
60  page complete
70  page complete
80  page complete
90  page complete
100  page complete
110  page complete
120  page complete
130  page complete
140  page complete
150  page complete
160  page complete
170  page complete
180  page complete
190  page complete
200  page complete
210  page complete
220  page complete
Mission complete

In [5]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1,PC,Viol2t,3.02 : 1,66,Lv. 839,22.4\n /\n ...,\n\n 4569\n ...,\n 01:34\n ...,59W,31L,17 hours,Baptiste,Sigma,Widowmaker
1,2,PC,Water,2.61 : 1,57,Lv. 2349,22.5\n /\n ...,\n\n 4541\n ...,\n 01:15\n ...,231W,174L,85 hours,Genji,Baptiste,Hanzo
2,3,PC,Z9Hong,2.92 : 1,66,Lv. 68,21.2\n /\n ...,\n\n 4518\n ...,\n 00:58\n ...,106W,55L,29 hours,Hanzo,Orisa,Roadhog
3,4,PC,AnsanSniper,2.66 : 1,59,Lv. 469,18.1\n /\n ...,\n\n 4506\n ...,\n 01:25\n ...,32W,22L,11 hours,Baptiste,Zenyatta,Ana
4,5,PC,uaena,3.36 : 1,61,Lv. 931,23.6\n /\n ...,\n\n 4498\n ...,\n 01:24\n ...,170W,110L,54 hours,Widowmaker,McCree,Zarya
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22295,"22,296",PC,designer,2.69 : 1,44,Lv. 777,18.1\n /\n ...,\n\n 1206\n ...,\n 00:50\n ...,30W,38L,12 hours,Reinhardt,Zarya,Ana
22296,"22,297",PC,leesj,2.53 : 1,46,Lv. 285,18.9\n /\n ...,\n\n 1204\n ...,\n 01:11\n ...,22W,26L,8 hours,Ana,McCree,Reinhardt
22297,"22,298",PC,세준띠,2.33 : 1,48,Lv. 324,19.1\n /\n ...,\n\n 1204\n ...,\n 00:57\n ...,26W,28L,10 hours,Reinhardt,Reaper,Ana
22298,"22,299",PC,도현,1.49 : 1,46,Lv. 153,14.4\n /\n ...,\n\n 1204\n ...,\n 00:33\n ...,28W,33L,11 hours,Reinhardt,Ana,Zarya
22299,"22,300",PC,숨겨진트롤,4.05 : 1,61,Lv. 156,29.0\n /\n ...,\n\n 1203\n ...,\n 02:56\n ...,41W,26L,12 hours,Hanzo,McCree,Roadhog

# 전처리

In [6]:
# header 이름 설정
df.columns = ['Rank', 'Platform', 'Nickname', 'K/D', 'Win_rate', 'Level', 'Kill/Death', 'Rating', 'Time_on_Fire', 
     'Win', 'Lose', 'Playtime', 'Most1', 'Most2', 'Most3']
df.head()

,Rank,Platform,Nickname,K/D,Win_rate,Level,Kill/Death,Rating,Time_on_Fire,Win,Lose,Playtime,Most1,Most2,Most3
0,1,PC,Viol2t,3.02 : 1,66,Lv. 839,22.4\n /\n ...,\n\n 4569\n ...,\n 01:34\n ...,59W,31L,17 hours,Baptiste,Sigma,Widowmaker
1,2,PC,Water,2.61 : 1,57,Lv. 2349,22.5\n /\n ...,\n\n 4541\n ...,\n 01:15\n ...,231W,174L,85 hours,Genji,Baptiste,Hanzo
2,3,PC,Z9Hong,2.92 : 1,66,Lv. 68,21.2\n /\n ...,\n\n 4518\n ...,\n 00:58\n ...,106W,55L,29 hours,Hanzo,Orisa,Roadhog
3,4,PC,AnsanSniper,2.66 : 1,59,Lv. 469,18.1\n /\n ...,\n\n 4506\n ...,\n 01:25\n ...,32W,22L,11 hours,Baptiste,Zenyatta,Ana
4,5,PC,uaena,3.36 : 1,61,Lv. 931,23.6\n /\n ...,\n\n 4498\n ...,\n 01:24\n ...,170W,110L,54 hours,Widowmaker,McCree,Zarya

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22300 entries, 0 to 22299
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          22300 non-null  object
 1   Platform      22300 non-null  object
 2   Nickname      22300 non-null  object
 3   K/D           22300 non-null  object
 4   Win_rate      22300 non-null  object
 5   Level         22300 non-null  object
 6   Kill/Death    22300 non-null  object
 7   Rating        22300 non-null  object
 8   Time_on_Fire  22300 non-null  object
 9   Win           22300 non-null  object
 10  Lose          22300 non-null  object
 11  Playtime      22300 non-null  object
 12  Most1         22300 non-null  object
 13  Most2         22296 non-null  object
 14  Most3         22290 non-null  object
dtypes: object(15)
memory usage: 2.6+ MB

In [8]:
# Rank
df['Rank'] = df['Rank'].str.replace(',', '')
df['Rank']

0            1
1            2
2            3
3            4
4            5
         ...
22295    22296
22296    22297
22297    22298
22298    22299
22299    22300
Name: Rank, Length: 22300, dtype: object

In [9]:
# K/D 컬럼
df['K/D'] = df['K/D'].str.replace(': 1', '')
df['K/D']

0        3.02
1        2.61
2        2.92
3        2.66
4        3.36
         ...
22295    2.69
22296    2.53
22297    2.33
22298    1.49
22299    4.05
Name: K/D, Length: 22300, dtype: object

In [10]:
# Level
df['Level'] = df['Level'].str.replace('Lv.', '')
df['Level']

0          839
1         2349
2           68
3          469
4          931
         ...
22295      777
22296      285
22297      324
22298      153
22299      156
Name: Level, Length: 22300, dtype: object

In [11]:
# Kill/Death
df['Kill/Death'] = df['Kill/Death'].str.replace('\n', '')

# separate
new = df['Kill/Death'].str.split('/', expand=True)
df['Kill'] = new[0]
df['Death'] = new[1]

df[['Kill/Death', 'Kill', 'Death']]

,Kill/Death,Kill,Death
0,22.4 / ...,22.4,7.4
1,22.5 / ...,22.5,8.6
2,21.2 / ...,21.2,7.3
3,18.1 / ...,18.1,6.8
4,23.6 / ...,23.6,7.0
...,...,...,...
22295,18.1 / ...,18.1,6.7
22296,18.9 / ...,18.9,7.5
22297,19.1 / ...,19.1,8.2
22298,14.4 / ...,14.4,9.6
22299,29.0 / ...,29.0,7.1

In [12]:
# rating
df['Rating'] = df['Rating'].str.replace('\n', '').str.strip()
df['Rating']

0        4569
1        4541
2        4518
3        4506
4        4498
         ...
22295    1206
22296    1204
22297    1204
22298    1204
22299    1203
Name: Rating, Length: 22300, dtype: object

In [13]:
# Time on Fire
df['Time_on_Fire'] = df['Time_on_Fire'].str.replace('\n', '').str.strip()
time = df['Time_on_Fire'].str.split(':')

def to_seconds(x):
    # error
    if len(x) != 2:
        return -1
    
    x = list(map(int, x))
    result = 0
    # 1 min = 60 sec
    if x[0] > 0:
        result = 60 * x[0]
    result += x[1]
    return(result)

df['Time_on_Fire'] = time.apply(to_seconds)

In [14]:
df['Time_on_Fire']

0         94
1         75
2         58
3         85
4         84
        ...
22295     50
22296     71
22297     57
22298     33
22299    176
Name: Time_on_Fire, Length: 22300, dtype: int64

In [15]:
# Win
df['Win'] = df['Win'].str.replace('W', '').str.strip()
df['Win']

0         59
1        231
2        106
3         32
4        170
        ...
22295     30
22296     22
22297     26
22298     28
22299     41
Name: Win, Length: 22300, dtype: object

In [16]:
# Lose
df['Lose'] = df['Lose'].str.replace('L', '')
df['Lose']

0         31
1        174
2         55
3         22
4        110
        ...
22295     38
22296     26
22297     28
22298     33
22299     26
Name: Lose, Length: 22300, dtype: object

In [17]:
# PlayTime
df['Playtime'] = df['Playtime'].str.replace('hour[s]*', '')
# 1시간도 하지 않은 관측치 수정
mins_player = df['Playtime'].str.contains('mins')
def mins_to_hours(x):
    print(x, '가 검출되었습니다')
    x = x.replace('mins','').strip()
    x = int(x)/60
    return str(round(x,2))


# 해당 관측치의 Playtime만 수정한다
if len(df.loc[mins_player]) > 0:
    df.loc[mins_player, 'Playtime'] = df.loc[mins_player, 'Playtime'].apply(mins_to_hours)
    
    
df[mins_player]

53 mins 가 검출되었습니다
13 mins 가 검출되었습니다
11 mins 가 검출되었습니다
6 mins 가 검출되었습니다
13 mins 가 검출되었습니다
14 mins 가 검출되었습니다
45 mins 가 검출되었습니다
15 mins 가 검출되었습니다
34 mins 가 검출되었습니다
6 mins 가 검출되었습니다
3 mins 가 검출되었습니다
12 mins 가 검출되었습니다
17 mins 가 검출되었습니다
30 mins 가 검출되었습니다
16 mins 가 검출되었습니다
8 mins 가 검출되었습니다
42 mins 가 검출되었습니다
22 mins 가 검출되었습니다
7 mins 가 검출되었습니다
47 mins 가 검출되었습니다
12 mins 가 검출되었습니다
35 mins 가 검출되었습니다
46 mins 가 검출되었습니다
25 mins 가 검출되었습니다
29 mins 가 검출되었습니다

,Rank,Platform,Nickname,K/D,Win_rate,Level,Kill/Death,Rating,Time_on_Fire,Win,Lose,Playtime,Most1,Most2,Most3,Kill,Death
577,578,PC,FrostyFeet,1.82,0,71,16.0 / ...,3726,65,NaN,5,0.88,Roadhog,Hanzo,Zenyatta,16.0,8.8
3104,3105,PC,throwaccount,3,50,114,13.5 / ...,2987,-1,1,1,0.22,D.Va,Soldier: 76,Tracer,13.5,4.5
3126,3127,PC,Andymeister,0.73,0,257,8.0 / ...,2984,59,NaN,1,0.18,Ana,Mercy,None,8.0,11.0
6643,6644,PC,Death,0.43,0,891,3.0 / ...,2658,-1,NaN,1,0.1,Junkrat,Soldier: 76,Tracer,3.0,7.0
7476,7477,PC,Moonbee,1.56,0,347,14.0 / ...,2609,-1,NaN,1,0.22,Zenyatta,Brigitte,None,14.0,9.0
7477,7478,PC,똥빠,6,100,106,42.0 / ...,2609,373,1,NaN,0.23,D.Va,None,None,42.0,7.0
8464,8465,PC,리퍼,1.26,25,427,12.3 / ...,2549,10,1,3,0.75,Zarya,Ana,Roadhog,12.3,9.8
8607,8608,PC,리중딱,1.73,0,50,26.0 / ...,2541,60,NaN,1,0.25,Doomfist,McCree,Wrecking Ball,26.0,15.0
8618,8619,PC,란란루,1.2,25,216,10.5 / ...,2540,2,1,3,0.57,Zarya,Tracer,Genji,10.5,8.8
8814,8815,PC,불량스런쌈디,7,100,219,14.0 / ...,2529,73,1,NaN,0.1,Ana,None,None,14.0,2.0
9490,9491,PC,PIGYEONGHA,0.67,0,183,1.0 / ...,2491,-1,NaN,2,0.05,McCree,Genji,None,1.0,1.5
9772,9773,PC,맘대로해,0.62,0,83,8.0 / ...,2475,-1,NaN,1,0.2,Doomfist,Genji,Junkrat,8.0,13.0
11400,11401,PC,EazyE,0.5,0,38,4.5 / ...,2385,-1,NaN,2,0.28,Baptiste,Reinhardt,None,4.5,9.0
13867,13868,PC,쏘올비,0.83,0,677,15.0 / ...,2244,10,NaN,2,0.5,Bastion,Reaper,Widowmaker,15.0,18.0
15202,15203,PC,오랑캐,1.73,0,241,26.0 / ...,2159,87,NaN,1,0.27,McCree,Soldier: 76,Reaper,26.0,15.0
16751,16752,PC,Shakbari,0.75,100,214,6.0 / ...,2056,-1,1,NaN,0.13,Brigitte,Mercy,None,6.0,8.0
17745,17746,PC,Rën,2.22,75,89,12.8 / ...,1982,17,3,1,0.7,Reinhardt,None,None,12.8,5.8
18002,18003,PC,TEDDY,1.55,50,516,15.5 / ...,1962,-1,1,1,0.37,Moira,Zarya,McCree,15.5,10.0
18020,18021,PC,Strimer,0.62,0,119,5.0 / ...,1961,-1,NaN,1,0.12,D.Va,Lúcio,None,5.0,8.0
18184,18185,PC,Jazzer,2.97,67,544,35.7 / ...,1945,194,2,1,0.78,Hanzo,Reinhardt,Winston,35.7,12.0
18696,18697,PC,TheAnecdote,2.33,0,369,21.0 / ...,1900,-1,NaN,1,0.2,Ashe,None,None,21.0,9.0
21960,21961,PC,뱀장어,2.33,33,65,16.3 / ...,1375,57,1,2,0.58,D.Va,Zarya,Hanzo,16.3,7.0
22012,22013,PC,Paradox,1.47,25,132,14.0 / ...,1355,35,1,3,0.77,Roadhog,Ana,Sombra,14.0,9.5
22101,22102,PC,NarangG,0.94,0,90,5.7 / ...,1311,6,NaN,2,0.42,Brigitte,Reinhardt,D.Va,5.7,6.0
22198,22199,PC,Blutail,1,0,77,5.5 / ...,1268,-1,NaN,4,0.48,Lúcio,Junkrat,D.Va,5.5,5.5

In [18]:
df

,Rank,Platform,Nickname,K/D,Win_rate,Level,Kill/Death,Rating,Time_on_Fire,Win,Lose,Playtime,Most1,Most2,Most3,Kill,Death
0,1,PC,Viol2t,3.02,66,839,22.4 / ...,4569,94,59,31,17,Baptiste,Sigma,Widowmaker,22.4,7.4
1,2,PC,Water,2.61,57,2349,22.5 / ...,4541,75,231,174,85,Genji,Baptiste,Hanzo,22.5,8.6
2,3,PC,Z9Hong,2.92,66,68,21.2 / ...,4518,58,106,55,29,Hanzo,Orisa,Roadhog,21.2,7.3
3,4,PC,AnsanSniper,2.66,59,469,18.1 / ...,4506,85,32,22,11,Baptiste,Zenyatta,Ana,18.1,6.8
4,5,PC,uaena,3.36,61,931,23.6 / ...,4498,84,170,110,54,Widowmaker,McCree,Zarya,23.6,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22295,22296,PC,designer,2.69,44,777,18.1 / ...,1206,50,30,38,12,Reinhardt,Zarya,Ana,18.1,6.7
22296,22297,PC,leesj,2.53,46,285,18.9 / ...,1204,71,22,26,8,Ana,McCree,Reinhardt,18.9,7.5
22297,22298,PC,세준띠,2.33,48,324,19.1 / ...,1204,57,26,28,10,Reinhardt,Reaper,Ana,19.1,8.2
22298,22299,PC,도현,1.49,46,153,14.4 / ...,1204,33,28,33,11,Reinhardt,Ana,Zarya,14.4,9.6
22299,22300,PC,숨겨진트롤,4.05,61,156,29.0 / ...,1203,176,41,26,12,Hanzo,McCree,Roadhog,29.0,7.1

## 데이터 형변환

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22300 entries, 0 to 22299
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          22300 non-null  object
 1   Platform      22300 non-null  object
 2   Nickname      22300 non-null  object
 3   K/D           22300 non-null  object
 4   Win_rate      22300 non-null  object
 5   Level         22300 non-null  object
 6   Kill/Death    22300 non-null  object
 7   Rating        22300 non-null  object
 8   Time_on_Fire  22300 non-null  int64
 9   Win           22284 non-null  object
 10  Lose          22296 non-null  object
 11  Playtime      22300 non-null  object
 12  Most1         22300 non-null  object
 13  Most2         22296 non-null  object
 14  Most3         22290 non-null  object
 15  Kill          22300 non-null  object
 16  Death         22300 non-null  object
dtypes: int64(1), object(16)
memory usage: 2.9+ MB

In [20]:
# float
df[['K/D', 'Kill', 'Death', 'Win', 'Lose', 'Playtime']] = df[['K/D', 'Kill', 'Death', 'Win', 'Lose', 'Playtime']].astype(float)
print(df[['K/D', 'Kill', 'Death', 'Win', 'Lose', 'Playtime']].dtypes)

# int
df[['Win_rate', 'Level', 'Rating', 'Rank']] = df[['Win_rate', 'Level', 'Rating', 'Rank']].astype(int)
print(df[['Win_rate', 'Level', 'Rating', 'Rank']].dtypes)

K/D         float64
Kill        float64
Death       float64
Win         float64
Lose        float64
Playtime    float64
dtype: object
Win_rate    int32
Level       int32
Rating      int32
Rank        int32
dtype: object

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22300 entries, 0 to 22299
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          22300 non-null  int32
 1   Platform      22300 non-null  object
 2   Nickname      22300 non-null  object
 3   K/D           22300 non-null  float64
 4   Win_rate      22300 non-null  int32
 5   Level         22300 non-null  int32
 6   Kill/Death    22300 non-null  object
 7   Rating        22300 non-null  int32
 8   Time_on_Fire  22300 non-null  int64
 9   Win           22284 non-null  float64
 10  Lose          22296 non-null  float64
 11  Playtime      22300 non-null  float64
 12  Most1         22300 non-null  object
 13  Most2         22296 non-null  object
 14  Most3         22290 non-null  object
 15  Kill          22300 non-null  float64
 16  Death         22300 non-null  float64
dtypes: float64(6), int32(4), int64(1), object(6)
memory usage: 2.6+ MB

In [22]:
# 불필요한 변수 삭제
del df['Kill/Death']
del df['Platform']

In [23]:
# 컬럼 순서 바꾸기
df = pd.DataFrame(df, columns=['Rank', 'Nickname', 'Rating', 'Win', 'Lose', 'Win_rate', 'Kill', 'Death', 
                          'K/D', 'Time_on_Fire', 'Level', 'Playtime', 'Most1', 'Most2', 'Most3'])
df

,Rank,Nickname,Rating,Win,Lose,Win_rate,Kill,Death,K/D,Time_on_Fire,Level,Playtime,Most1,Most2,Most3
0,1,Viol2t,4569,59.0,31.0,66,22.4,7.4,3.02,94,839,17.0,Baptiste,Sigma,Widowmaker
1,2,Water,4541,231.0,174.0,57,22.5,8.6,2.61,75,2349,85.0,Genji,Baptiste,Hanzo
2,3,Z9Hong,4518,106.0,55.0,66,21.2,7.3,2.92,58,68,29.0,Hanzo,Orisa,Roadhog
3,4,AnsanSniper,4506,32.0,22.0,59,18.1,6.8,2.66,85,469,11.0,Baptiste,Zenyatta,Ana
4,5,uaena,4498,170.0,110.0,61,23.6,7.0,3.36,84,931,54.0,Widowmaker,McCree,Zarya
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22295,22296,designer,1206,30.0,38.0,44,18.1,6.7,2.69,50,777,12.0,Reinhardt,Zarya,Ana
22296,22297,leesj,1204,22.0,26.0,46,18.9,7.5,2.53,71,285,8.0,Ana,McCree,Reinhardt
22297,22298,세준띠,1204,26.0,28.0,48,19.1,8.2,2.33,57,324,10.0,Reinhardt,Reaper,Ana
22298,22299,도현,1204,28.0,33.0,46,14.4,9.6,1.49,33,153,11.0,Reinhardt,Ana,Zarya
22299,22300,숨겨진트롤,1203,41.0,26.0,61,29.0,7.1,4.05,176,156,12.0,Hanzo,McCree,Roadhog

## 변수 생성

In [54]:
# 티어 변수 생성
bins = [0, 1500, 2000, 2500, 3000, 3500, 4000, 5000]
labels = ['bronze', 'silver', 'gold', 'platinum', 'diamond', 'master', 'grand_master']
df['Tire'] = pd.cut(df['Rating'], bins, labels=labels)


# 상위 1위 ~ 500위는 순위 자체가 티어가 된다.
df['Tire'] = df['Tire'].astype(str)
df.loc[df['Rank'] <= 500, 'Tire'] = df.loc[df['Rank'] <= 500,'Rank'].astype(str)
df.iloc[490:510, :]

,Rank,Nickname,Rating,Win,Lose,Win_rate,Kill,Death,K/D,Time_on_Fire,Level,Playtime,Most1,Most2,Most3,Tire
490,491,wasp,3788,46.0,42.0,52,15.9,6.6,2.40,81,403,16.0,Baptiste,Ana,Zenyatta,491
491,492,LUCY,3786,7.0,14.0,33,19.0,8.0,2.39,59,461,4.0,Sigma,McCree,Hanzo,492
492,493,뇌절의수호자성민,3786,48.0,57.0,46,19.4,7.3,2.65,56,474,21.0,Sigma,Orisa,Reinhardt,493
493,494,한방에알라곁으로,3785,74.0,51.0,59,17.3,6.6,2.60,74,399,23.0,Zenyatta,Ana,Zarya,494
494,495,WMK,3784,59.0,68.0,46,18.5,7.7,2.39,62,180,25.0,Ana,Sigma,Roadhog,495
495,496,솔라,3780,24.0,19.0,56,16.9,7.8,2.16,42,579,9.0,Moira,Ana,Zenyatta,496
496,497,Erica,3779,10.0,5.0,67,22.3,7.7,2.89,41,501,2.0,Moira,Orisa,Sigma,497
497,498,콩나물불고기,3779,12.0,3.0,80,18.8,4.7,4.03,68,153,2.0,Ana,Sigma,Wrecking Ball,498
498,499,꼬우면니들도둠피,3778,20.0,19.0,51,17.6,8.2,2.16,56,446,7.0,Doomfist,Baptiste,McCree,499
499,500,안중근,3778,46.0,36.0,56,21.4,7.2,2.99,58,685,16.0,D.Va,Sigma,Hanzo,500
500,501,한계점인바지,3778,53.0,43.0,55,21.4,6.9,3.11,62,265,19.0,Orisa,Reinhardt,Sigma,master
501,502,WorstDpsEU,3777,7.0,8.0,47,23.4,7.4,3.16,105,898,3.0,Baptiste,Roadhog,Reinhardt,master
502,503,EDITH,3777,19.0,8.0,70,22.2,6.5,3.39,89,199,5.0,Baptiste,Hanzo,Doomfist,master
503,504,chroa,3777,98.0,91.0,52,18.4,6.6,2.78,45,580,36.0,Orisa,Reinhardt,Winston,master
504,505,King,3775,74.0,62.0,54,20.7,8.9,2.34,70,958,25.0,Widowmaker,Hanzo,McCree,master
505,506,호날두와일본여행,3775,110.0,98.0,53,18.8,7.6,2.46,39,1013,41.0,Brigitte,Hanzo,McCree,master
506,507,Merak,3775,164.0,160.0,51,16.8,8.6,1.96,72,1125,68.0,Lúcio,Zenyatta,Brigitte,master
507,508,옵린이,3773,45.0,40.0,53,16.7,7.4,2.26,46,444,17.0,Orisa,Baptiste,Hanzo,master
508,509,Straycat,3772,31.0,25.0,55,16.5,8.2,2.02,74,769,11.0,Ana,Brigitte,Baptiste,master
509,510,사천삼백탱커유저,3772,79.0,54.0,59,16.7,8.0,2.09,46,397,26.0,Ana,Reinhardt,Orisa,master

In [6]:
df = pd.read_csv('rank.csv')
df[df['Nickname'] == 'APOCALYPSE']

,Unnamed: 0,Rank,Nickname,Rating,Win,Lose,Win_rate,Kill,Death,K/D,Time_on_Fire,Level,Playtime,Most1,Most2,Most3,Tire
6852,6852,6853,APOCALYPSE,2645,21.0,12.0,64,28.3,6.8,4.14,120,269,7.0,Widowmaker,Genji,Reinhardt,platinum
7384,7384,7385,APOCALYPSE,2615,143.0,119.0,55,21.7,7.9,2.75,71,99,53.0,Reinhardt,Sigma,Winston,platinum
14463,14463,14464,APOCALYPSE,2209,82.0,91.0,47,22.6,8.7,2.60,72,3715,36.0,McCree,Reaper,Ashe,gold

In [58]:
# csv save
df.to_csv('rank.csv')