In [1]:
# 크롤링
import requests
from bs4 import BeautifulSoup

# 데이터 분석
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from IPython.display import clear_output

# 크롤링

## 리더보드 테이블

In [2]:
# hyper parameter
minimum = 1
maximum = 250



data = []

def find_tag(tag, class1):
    result = tr.find(tag, class_=class1)
    if result != None:
        row.append(result.get_text())
    else: row.append(-1)
    
for page in range(minimum, maximum):

    url = 'https://overwatch.op.gg/leaderboards?platform=pc&role_id=0&page={}'.format(page)
    resp = requests.get(url)

    soup = BeautifulSoup(resp.text)

    # table tag
    table = soup.find('table', class_='LeaderBoardsTable')

    # tag
    for tr in table.find('tbody').find_all('tr', {'data-uid':True}):
        row = []
        # data base id
        row.append(tr['data-uid'])
        # #, 플랫폼 
        for span in tr.find_all('span'):
            row.append(span.get_text())
        # 플레이어, K/D, 승률
        for b in tr.find_all('b'):
            row.append(b.get_text())
        # 레벨, 상세 K/D
        for em in tr.find_all('em'):
            row.append(em.get_text().strip())
        # 점수
        find_tag('td', 'ContentCell ContentCell-SkillRating')
        #  폭주 시간
        find_tag('td', 'ContentCell ContentCell-AvgFire')
        # 승
        find_tag('div', 'Win')
        # 패
        find_tag('div', 'Lose')
        # 플레이 시간
        find_tag('td', 'ContentCell ContentCell-PlayTime')
        # 모스트 영웅
        for heros in tr.find_all('td', class_='ContentCell ContentCell-MostHeros'):
            for hero in heros.find_all('img', alt=True): # 모스트 영웅은 img로 되어 있다.
                row.append(hero['alt'])
        
        # 하나의 행을 data에 축적
        data.append(row)
    
    # 진행사항 출력
    print("{} / {} page complete".format(page, maximum))
    clear_output(wait=True)
print("Mission complete")
df = pd.DataFrame(data)

Mission complete

In [3]:
# header 이름 설정
df.columns = ['DBid', 'Rank', 'Platform', 'Nickname', 'K/D', 'Win_rate', 'Level', 'Kill/Death', 'Rating', 'Time_on_Fire', 
     'Win', 'Lose', 'Playtime', 'Most1', 'Most2', 'Most3']
df.head()

,DBid,Rank,Platform,Nickname,K/D,Win_rate,Level,Kill/Death,Rating,Time_on_Fire,Win,Lose,Playtime,Most1,Most2,Most3
0,111029242162120119198225,1,PC,Viol2t,3.02 : 1,66,Lv. 839,22.4\n /\n ...,\n\n 4569\n ...,\n 01:34\n ...,59W,31L,17 hours,Baptiste,Sigma,Widowmaker
1,118097079110147012121,2,PC,Water,2.61 : 1,57,Lv. 2349,22.5\n /\n ...,\n\n 4541\n ...,\n 01:15\n ...,231W,174L,85 hours,Genji,Baptiste,Hanzo
2,49227144191214254099131,3,PC,Z9Hong,2.92 : 1,66,Lv. 68,21.2\n /\n ...,\n\n 4518\n ...,\n 00:58\n ...,106W,55L,29 hours,Hanzo,Orisa,Roadhog
3,38106188000007136056188,4,PC,AnsanSniper,2.66 : 1,59,Lv. 469,18.1\n /\n ...,\n\n 4506\n ...,\n 01:25\n ...,32W,22L,11 hours,Baptiste,Zenyatta,Ana
4,13080044060015097186088,5,PC,uaena,3.38 : 1,61,Lv. 932,23.6\n /\n ...,\n\n 4503\n ...,\n 01:25\n ...,172W,111L,55 hours,Widowmaker,McCree,Ana

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23037 entries, 0 to 23036
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DBid          23037 non-null  object
 1   Rank          23037 non-null  object
 2   Platform      23037 non-null  object
 3   Nickname      23037 non-null  object
 4   K/D           23037 non-null  object
 5   Win_rate      23037 non-null  object
 6   Level         23037 non-null  object
 7   Kill/Death    23037 non-null  object
 8   Rating        23037 non-null  object
 9   Time_on_Fire  23037 non-null  object
 10  Win           23037 non-null  object
 11  Lose          23037 non-null  object
 12  Playtime      23037 non-null  object
 13  Most1         23037 non-null  object
 14  Most2         23033 non-null  object
 15  Most3         23027 non-null  object
dtypes: object(16)
memory usage: 2.8+ MB

In [5]:
df

,DBid,Rank,Platform,Nickname,K/D,Win_rate,Level,Kill/Death,Rating,Time_on_Fire,Win,Lose,Playtime,Most1,Most2,Most3
0,111029242162120119198225,1,PC,Viol2t,3.02 : 1,66,Lv. 839,22.4\n /\n ...,\n\n 4569\n ...,\n 01:34\n ...,59W,31L,17 hours,Baptiste,Sigma,Widowmaker
1,118097079110147012121,2,PC,Water,2.61 : 1,57,Lv. 2349,22.5\n /\n ...,\n\n 4541\n ...,\n 01:15\n ...,231W,174L,85 hours,Genji,Baptiste,Hanzo
2,49227144191214254099131,3,PC,Z9Hong,2.92 : 1,66,Lv. 68,21.2\n /\n ...,\n\n 4518\n ...,\n 00:58\n ...,106W,55L,29 hours,Hanzo,Orisa,Roadhog
3,38106188000007136056188,4,PC,AnsanSniper,2.66 : 1,59,Lv. 469,18.1\n /\n ...,\n\n 4506\n ...,\n 01:25\n ...,32W,22L,11 hours,Baptiste,Zenyatta,Ana
4,13080044060015097186088,5,PC,uaena,3.38 : 1,61,Lv. 932,23.6\n /\n ...,\n\n 4503\n ...,\n 01:25\n ...,172W,111L,55 hours,Widowmaker,McCree,Ana
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23032,27078075244099180087016,"23,033",PC,소리없는검,1.9 : 1,49,Lv. 359,20.2\n /\n ...,\n\n 540\n ...,\n 00:54\n ...,141W,147L,53 hours,Junkrat,Moira,Reinhardt
23033,243116241127093034212249,"23,034",PC,쌍바놔놔,1.88 : 1,37,Lv. 144,14.9\n /\n ...,\n\n 538\n ...,\n 00:35\n ...,18W,31L,8 hours,Widowmaker,McCree,Tracer
23034,238047226154239156241160,"23,035",PC,DoomPeace,2.13 : 1,46,Lv. 70,15.9\n /\n ...,\n\n 535\n ...,\n 00:34\n ...,18W,21L,6 hours,Zenyatta,Moira,Baptiste
23035,130145216197178069097108,"23,036",PC,랜클리어,1.24 : 1,40,Lv. 161,14.2\n /\n ...,\n\n 515\n ...,\n 00:08\n ...,10W,15L,4 hours,Moira,D.Va,Junkrat
23036,238088121051143004100151,"23,037",PC,COOK,1.64 : 1,49,Lv. 333,13.7\n /\n ...,\n\n 504\n ...,\n 00:36\n ...,19W,20L,6 hours,Reinhardt,Junkrat,Roadhog

# 전처리

## 리더보드 테이블

### 변수 불필요한 문자열 제거

In [6]:
# Rank
df['Rank'] = df['Rank'].str.replace(',', '')
df['Rank']

0            1
1            2
2            3
3            4
4            5
         ...
23032    23033
23033    23034
23034    23035
23035    23036
23036    23037
Name: Rank, Length: 23037, dtype: object

In [7]:
# K/D 컬럼
df['K/D'] = df['K/D'].str.replace(': 1', '')
df['K/D']

0        3.02
1        2.61
2        2.92
3        2.66
4        3.38
         ...
23032     1.9
23033    1.88
23034    2.13
23035    1.24
23036    1.64
Name: K/D, Length: 23037, dtype: object

In [8]:
# Level
df['Level'] = df['Level'].str.replace('Lv.', '')
df['Level']

0          839
1         2349
2           68
3          469
4          932
         ...
23032      359
23033      144
23034       70
23035      161
23036      333
Name: Level, Length: 23037, dtype: object

In [9]:
# Kill/Death
df['Kill/Death'] = df['Kill/Death'].str.replace('\n', '')

# separate
new = df['Kill/Death'].str.split('/', expand=True)
df['Kill'] = new[0]
df['Death'] = new[1]

df[['Kill/Death', 'Kill', 'Death']]

,Kill/Death,Kill,Death
0,22.4 / ...,22.4,7.4
1,22.5 / ...,22.5,8.6
2,21.2 / ...,21.2,7.3
3,18.1 / ...,18.1,6.8
4,23.6 / ...,23.6,7.0
...,...,...,...
23032,20.2 / ...,20.2,10.6
23033,14.9 / ...,14.9,7.9
23034,15.9 / ...,15.9,7.5
23035,14.2 / ...,14.2,11.4
23036,13.7 / ...,13.7,8.4

In [10]:
# rating
df['Rating'] = df['Rating'].str.replace('\n', '').str.strip()
df['Rating']

0        4569
1        4541
2        4518
3        4506
4        4503
         ...
23032     540
23033     538
23034     535
23035     515
23036     504
Name: Rating, Length: 23037, dtype: object

In [11]:
# Time on Fire
df['Time_on_Fire'] = df['Time_on_Fire'].str.replace('\n', '').str.strip()
time = df['Time_on_Fire'].str.split(':')

def to_seconds(x):
    # error
    if len(x) != 2:
        return -1
    
    x = list(map(int, x))
    result = 0
    # 1 min = 60 sec
    if x[0] > 0:
        result = 60 * x[0]
    result += x[1]
    return(result)

df['Time_on_Fire'] = time.apply(to_seconds)

In [12]:
df['Time_on_Fire']

0        94
1        75
2        58
3        85
4        85
         ..
23032    54
23033    35
23034    34
23035     8
23036    36
Name: Time_on_Fire, Length: 23037, dtype: int64

In [13]:
# Win
df['Win'] = df['Win'].str.replace('W', '').str.strip()
df['Win']

0         59
1        231
2        106
3         32
4        172
        ...
23032    141
23033     18
23034     18
23035     10
23036     19
Name: Win, Length: 23037, dtype: object

In [14]:
# Lose
df['Lose'] = df['Lose'].str.replace('L', '')
df['Lose']

0         31
1        174
2         55
3         22
4        111
        ...
23032    147
23033     31
23034     21
23035     15
23036     20
Name: Lose, Length: 23037, dtype: object

In [15]:
# PlayTime
df['Playtime'] = df['Playtime'].str.replace('hour[s]*', '')
# 1시간도 하지 않은 관측치 수정
mins_player = df['Playtime'].str.contains('mins')
def mins_to_hours(x):
    print(x, '가 검출되었습니다')
    x = x.replace('mins','').strip()
    x = int(x)/60
    return str(round(x,2))


# 해당 관측치의 Playtime만 수정한다
if len(df.loc[mins_player]) > 0:
    df.loc[mins_player, 'Playtime'] = df.loc[mins_player, 'Playtime'].apply(mins_to_hours)
    
    
df[mins_player]

53 mins 가 검출되었습니다
13 mins 가 검출되었습니다
11 mins 가 검출되었습니다
6 mins 가 검출되었습니다
13 mins 가 검출되었습니다
14 mins 가 검출되었습니다
45 mins 가 검출되었습니다
15 mins 가 검출되었습니다
34 mins 가 검출되었습니다
6 mins 가 검출되었습니다
3 mins 가 검출되었습니다
12 mins 가 검출되었습니다
17 mins 가 검출되었습니다
30 mins 가 검출되었습니다
16 mins 가 검출되었습니다
38 mins 가 검출되었습니다
8 mins 가 검출되었습니다
42 mins 가 검출되었습니다
22 mins 가 검출되었습니다
7 mins 가 검출되었습니다
47 mins 가 검출되었습니다
12 mins 가 검출되었습니다
35 mins 가 검출되었습니다
46 mins 가 검출되었습니다
25 mins 가 검출되었습니다
29 mins 가 검출되었습니다

,DBid,Rank,Platform,Nickname,K/D,Win_rate,Level,Kill/Death,Rating,Time_on_Fire,Win,Lose,Playtime,Most1,Most2,Most3,Kill,Death
590,81071159048073093047175,591,PC,FrostyFeet,1.82,0,71,16.0 / ...,3726,65,NaN,5,0.88,Roadhog,Hanzo,Zenyatta,16.0,8.8
3166,33152204011039049208252,3167,PC,throwaccount,3,50,114,13.5 / ...,2987,-1,1,1,0.22,D.Va,Soldier: 76,Tracer,13.5,4.5
3186,247033111073244133090116,3187,PC,Andymeister,0.73,0,257,8.0 / ...,2984,59,NaN,1,0.18,Ana,Mercy,None,8.0,11.0
6760,246178181009228125124153,6761,PC,Death,0.43,0,891,3.0 / ...,2658,-1,NaN,1,0.1,Junkrat,Soldier: 76,Tracer,3.0,7.0
7610,131190167096127009210250,7611,PC,Moonbee,1.56,0,347,14.0 / ...,2609,-1,NaN,1,0.22,Zenyatta,Brigitte,None,14.0,9.0
7611,10052171136072202053036,7612,PC,똥빠,6,100,106,42.0 / ...,2609,373,1,NaN,0.23,D.Va,None,None,42.0,7.0
8603,118177077174193115143018,8604,PC,리퍼,1.26,25,427,12.3 / ...,2549,10,1,3,0.75,Zarya,Ana,Roadhog,12.3,9.8
8751,235116014248237060042184,8752,PC,리중딱,1.73,0,50,26.0 / ...,2541,60,NaN,1,0.25,Doomfist,McCree,Wrecking Ball,26.0,15.0
8762,188007022054092104058105,8763,PC,란란루,1.2,25,216,10.5 / ...,2540,2,1,3,0.57,Zarya,Tracer,Genji,10.5,8.8
8962,132210181026224093041095,8963,PC,불량스런쌈디,7,100,219,14.0 / ...,2529,73,1,NaN,0.1,Ana,None,None,14.0,2.0
9646,218254202240020007254103,9647,PC,PIGYEONGHA,0.67,0,183,1.0 / ...,2491,-1,NaN,2,0.05,McCree,Genji,None,1.0,1.5
9936,187244044141180221081209,9937,PC,맘대로해,0.62,0,83,8.0 / ...,2475,-1,NaN,1,0.2,Doomfist,Genji,Junkrat,8.0,13.0
11590,131087002106165168227047,11591,PC,EazyE,0.5,0,38,4.5 / ...,2385,-1,NaN,2,0.28,Baptiste,Reinhardt,None,4.5,9.0
14092,148108018018045255216059,14093,PC,쏘올비,0.83,0,677,15.0 / ...,2244,10,NaN,2,0.5,Bastion,Reaper,Widowmaker,15.0,18.0
15449,94164130206111114175135,15450,PC,오랑캐,1.73,0,241,26.0 / ...,2159,87,NaN,1,0.27,McCree,Soldier: 76,Reaper,26.0,15.0
15834,138022147099133168134133,15835,PC,nasic,1.19,50,245,10.8 / ...,2134,6,2,2,0.63,Reinhardt,Orisa,Brigitte,10.8,9.0
17015,214070155001137112218195,17016,PC,Shakbari,0.75,100,214,6.0 / ...,2056,-1,1,NaN,0.13,Brigitte,Mercy,None,6.0,8.0
18018,194001194167058090219058,18019,PC,Rën,2.22,75,89,12.8 / ...,1982,17,3,1,0.7,Reinhardt,None,None,12.8,5.8
18280,99092152214233151079020,18281,PC,TEDDY,1.55,50,516,15.5 / ...,1962,-1,1,1,0.37,Moira,Zarya,McCree,15.5,10.0
18298,57035245141134123061182,18299,PC,Strimer,0.62,0,119,5.0 / ...,1961,-1,NaN,1,0.12,D.Va,Lúcio,None,5.0,8.0
18464,54159218029087185168162,18465,PC,Jazzer,2.97,67,544,35.7 / ...,1945,194,2,1,0.78,Hanzo,Reinhardt,Winston,35.7,12.0
18980,83173067187110224104255,18981,PC,TheAnecdote,2.33,0,369,21.0 / ...,1900,-1,NaN,1,0.2,Ashe,None,None,21.0,9.0
22294,126146087056232055206092,22295,PC,뱀장어,2.33,33,65,16.3 / ...,1375,57,1,2,0.58,D.Va,Zarya,Hanzo,16.3,7.0
22347,224111000246017223194170,22348,PC,Paradox,1.47,25,132,14.0 / ...,1355,35,1,3,0.77,Roadhog,Ana,Sombra,14.0,9.5
22437,103250044171023093156209,22438,PC,NarangG,0.94,0,90,5.7 / ...,1311,6,NaN,2,0.42,Brigitte,Reinhardt,D.Va,5.7,6.0
22535,249245095056032107215145,22536,PC,Blutail,1,0,77,5.5 / ...,1268,-1,NaN,4,0.48,Lúcio,Junkrat,D.Va,5.5,5.5

In [16]:
df

,DBid,Rank,Platform,Nickname,K/D,Win_rate,Level,Kill/Death,Rating,Time_on_Fire,Win,Lose,Playtime,Most1,Most2,Most3,Kill,Death
0,111029242162120119198225,1,PC,Viol2t,3.02,66,839,22.4 / ...,4569,94,59,31,17,Baptiste,Sigma,Widowmaker,22.4,7.4
1,118097079110147012121,2,PC,Water,2.61,57,2349,22.5 / ...,4541,75,231,174,85,Genji,Baptiste,Hanzo,22.5,8.6
2,49227144191214254099131,3,PC,Z9Hong,2.92,66,68,21.2 / ...,4518,58,106,55,29,Hanzo,Orisa,Roadhog,21.2,7.3
3,38106188000007136056188,4,PC,AnsanSniper,2.66,59,469,18.1 / ...,4506,85,32,22,11,Baptiste,Zenyatta,Ana,18.1,6.8
4,13080044060015097186088,5,PC,uaena,3.38,61,932,23.6 / ...,4503,85,172,111,55,Widowmaker,McCree,Ana,23.6,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23032,27078075244099180087016,23033,PC,소리없는검,1.9,49,359,20.2 / ...,540,54,141,147,53,Junkrat,Moira,Reinhardt,20.2,10.6
23033,243116241127093034212249,23034,PC,쌍바놔놔,1.88,37,144,14.9 / ...,538,35,18,31,8,Widowmaker,McCree,Tracer,14.9,7.9
23034,238047226154239156241160,23035,PC,DoomPeace,2.13,46,70,15.9 / ...,535,34,18,21,6,Zenyatta,Moira,Baptiste,15.9,7.5
23035,130145216197178069097108,23036,PC,랜클리어,1.24,40,161,14.2 / ...,515,8,10,15,4,Moira,D.Va,Junkrat,14.2,11.4
23036,238088121051143004100151,23037,PC,COOK,1.64,49,333,13.7 / ...,504,36,19,20,6,Reinhardt,Junkrat,Roadhog,13.7,8.4

### 데이터 형변환

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23037 entries, 0 to 23036
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DBid          23037 non-null  object
 1   Rank          23037 non-null  object
 2   Platform      23037 non-null  object
 3   Nickname      23037 non-null  object
 4   K/D           23037 non-null  object
 5   Win_rate      23037 non-null  object
 6   Level         23037 non-null  object
 7   Kill/Death    23037 non-null  object
 8   Rating        23037 non-null  object
 9   Time_on_Fire  23037 non-null  int64
 10  Win           23021 non-null  object
 11  Lose          23033 non-null  object
 12  Playtime      23037 non-null  object
 13  Most1         23037 non-null  object
 14  Most2         23033 non-null  object
 15  Most3         23027 non-null  object
 16  Kill          23037 non-null  object
 17  Death         23037 non-null  object
dtypes: int64(1), object(17)
memory usage: 3.2+ MB

In [18]:
# float
df[['K/D', 'Kill', 'Death', 'Win', 'Lose', 'Playtime']] = df[['K/D', 'Kill', 'Death', 'Win', 'Lose', 'Playtime']].astype(float)
print(df[['K/D', 'Kill', 'Death', 'Win', 'Lose', 'Playtime']].dtypes)

# int
df[['Win_rate', 'Level', 'Rating', 'Rank']] = df[['Win_rate', 'Level', 'Rating', 'Rank']].astype(int)
print(df[['Win_rate', 'Level', 'Rating', 'Rank']].dtypes)

K/D         float64
Kill        float64
Death       float64
Win         float64
Lose        float64
Playtime    float64
dtype: object
Win_rate    int64
Level       int64
Rating      int64
Rank        int64
dtype: object

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23037 entries, 0 to 23036
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DBid          23037 non-null  object
 1   Rank          23037 non-null  int64
 2   Platform      23037 non-null  object
 3   Nickname      23037 non-null  object
 4   K/D           23037 non-null  float64
 5   Win_rate      23037 non-null  int64
 6   Level         23037 non-null  int64
 7   Kill/Death    23037 non-null  object
 8   Rating        23037 non-null  int64
 9   Time_on_Fire  23037 non-null  int64
 10  Win           23021 non-null  float64
 11  Lose          23033 non-null  float64
 12  Playtime      23037 non-null  float64
 13  Most1         23037 non-null  object
 14  Most2         23033 non-null  object
 15  Most3         23027 non-null  object
 16  Kill          23037 non-null  float64
 17  Death         23037 non-null  float64
dtypes: float64(6), int64(5), object(7)
memory usage: 3.2+ MB

In [20]:
# 불필요한 변수 삭제
del df['Kill/Death']
del df['Platform']

In [21]:
# 컬럼 순서 바꾸기
df = pd.DataFrame(df, columns=['DBid', 'Rank', 'Nickname', 'Rating', 'Win', 'Lose', 'Win_rate', 'Kill', 'Death', 
                          'K/D', 'Time_on_Fire', 'Level', 'Playtime', 'Most1', 'Most2', 'Most3'])
df

,DBid,Rank,Nickname,Rating,Win,Lose,Win_rate,Kill,Death,K/D,Time_on_Fire,Level,Playtime,Most1,Most2,Most3
0,111029242162120119198225,1,Viol2t,4569,59.0,31.0,66,22.4,7.4,3.02,94,839,17.0,Baptiste,Sigma,Widowmaker
1,118097079110147012121,2,Water,4541,231.0,174.0,57,22.5,8.6,2.61,75,2349,85.0,Genji,Baptiste,Hanzo
2,49227144191214254099131,3,Z9Hong,4518,106.0,55.0,66,21.2,7.3,2.92,58,68,29.0,Hanzo,Orisa,Roadhog
3,38106188000007136056188,4,AnsanSniper,4506,32.0,22.0,59,18.1,6.8,2.66,85,469,11.0,Baptiste,Zenyatta,Ana
4,13080044060015097186088,5,uaena,4503,172.0,111.0,61,23.6,7.0,3.38,85,932,55.0,Widowmaker,McCree,Ana
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23032,27078075244099180087016,23033,소리없는검,540,141.0,147.0,49,20.2,10.6,1.90,54,359,53.0,Junkrat,Moira,Reinhardt
23033,243116241127093034212249,23034,쌍바놔놔,538,18.0,31.0,37,14.9,7.9,1.88,35,144,8.0,Widowmaker,McCree,Tracer
23034,238047226154239156241160,23035,DoomPeace,535,18.0,21.0,46,15.9,7.5,2.13,34,70,6.0,Zenyatta,Moira,Baptiste
23035,130145216197178069097108,23036,랜클리어,515,10.0,15.0,40,14.2,11.4,1.24,8,161,4.0,Moira,D.Va,Junkrat
23036,238088121051143004100151,23037,COOK,504,19.0,20.0,49,13.7,8.4,1.64,36,333,6.0,Reinhardt,Junkrat,Roadhog

### 변수 생성

In [22]:
# 티어 변수 생성
bins = [0, 1500, 2000, 2500, 3000, 3500, 4000, 5000]
labels = ['bronze', 'silver', 'gold', 'platinum', 'diamond', 'master', 'grand_master']
df['Tire'] = pd.cut(df['Rating'], bins, labels=labels)


# 상위 1위 ~ 500위는 순위 자체가 티어가 된다.
df['Tire'] = df['Tire'].astype(str)
df.loc[df['Rank'] <= 500, 'Tire'] = df.loc[df['Rank'] <= 500,'Rank'].astype(str)
df.iloc[490:510, :]

,DBid,Rank,Nickname,Rating,Win,Lose,Win_rate,Kill,Death,K/D,Time_on_Fire,Level,Playtime,Most1,Most2,Most3,Tire
490,104181107224020177211234,491,Santi14,3800,32.0,37.0,46,21.5,8.2,2.61,85,1062,14.0,Sigma,Orisa,Baptiste,491
491,215159158250143215254102,492,ｋａｔａｋｕｒｉ,3800,49.0,40.0,55,22.0,6.5,3.38,87,477,17.0,Reinhardt,Sigma,Orisa,492
492,97108116229019152184148,493,이지은,3800,189.0,201.0,48,22.0,9.2,2.39,60,705,78.0,Tracer,Genji,Ana,493
493,30186232230075177070231,494,Theredstones,3798,67.0,75.0,47,21.8,8.5,2.55,71,932,28.0,Reinhardt,Orisa,Roadhog,494
494,244144239181204221133120,495,스크류바,3798,118.0,132.0,47,19.5,8.9,2.18,52,560,49.0,Sigma,Baptiste,Wrecking Ball,495
495,196233138021000090166120,496,wallridinhog,3797,147.0,141.0,51,23.2,9.1,2.55,72,572,59.0,McCree,Orisa,Soldier: 76,496
496,172097156199075099187180,497,Wild,3794,32.0,36.0,47,22.1,8.7,2.53,74,1165,13.0,Mei,Reaper,Baptiste,497
497,211002248125031250011080,498,Kreap,3793,69.0,75.0,48,22.1,7.4,2.97,81,233,28.0,Mei,Sigma,Baptiste,498
498,233151192241252045218228,499,짱구,3793,98.0,95.0,51,19.4,6.7,2.92,50,1806,38.0,Sigma,Hanzo,Reinhardt,499
499,11016141242095138025080,500,쪼물락낙지,3792,25.0,28.0,47,17.9,7.9,2.26,38,126,9.0,Wrecking Ball,Baptiste,Hanzo,500
500,162223134135158163175089,501,Unodostress,3789,114.0,76.0,60,20.9,6.8,3.09,79,110,35.0,Orisa,Baptiste,Brigitte,master
501,235205113089129181219243,502,명훈,3788,36.0,32.0,53,20.2,8.8,2.28,64,373,14.0,Hanzo,Widowmaker,Sigma,master
502,123157080197215108056235,503,wasp,3788,46.0,42.0,52,15.9,6.6,2.40,81,403,16.0,Baptiste,Ana,Zenyatta,master
503,80180143255021192224149,504,LUCY,3786,7.0,14.0,33,19.0,8.0,2.39,59,461,4.0,Sigma,McCree,Hanzo,master
504,135200035194245059146170,505,뇌절의수호자성민,3786,48.0,57.0,46,19.4,7.3,2.65,56,474,21.0,Sigma,Orisa,Reinhardt,master
505,88054174069106202041227,506,한방에알라곁으로,3785,74.0,51.0,59,17.3,6.6,2.60,74,399,23.0,Zenyatta,Ana,Zarya,master
506,171242141062105199250023,507,WMK,3784,59.0,68.0,46,18.5,7.7,2.39,62,180,25.0,Ana,Sigma,Roadhog,master
507,62220002091083221153175,508,솔라,3780,24.0,19.0,56,16.9,7.8,2.16,42,579,9.0,Moira,Ana,Zenyatta,master
508,132048142243134075133156,509,Erica,3779,10.0,5.0,67,22.3,7.7,2.89,41,501,2.0,Moira,Orisa,Sigma,master
509,160194028101209198061011,510,콩나물불고기,3779,12.0,3.0,80,18.8,4.7,4.03,68,153,2.0,Ana,Sigma,Wrecking Ball,master

In [24]:
# df.to_csv('rank.csv')
df

,DBid,Rank,Nickname,Rating,Win,Lose,Win_rate,Kill,Death,K/D,Time_on_Fire,Level,Playtime,Most1,Most2,Most3,Tire
0,111029242162120119198225,1,Viol2t,4569,59.0,31.0,66,22.4,7.4,3.02,94,839,17.0,Baptiste,Sigma,Widowmaker,1
1,118097079110147012121,2,Water,4541,231.0,174.0,57,22.5,8.6,2.61,75,2349,85.0,Genji,Baptiste,Hanzo,2
2,49227144191214254099131,3,Z9Hong,4518,106.0,55.0,66,21.2,7.3,2.92,58,68,29.0,Hanzo,Orisa,Roadhog,3
3,38106188000007136056188,4,AnsanSniper,4506,32.0,22.0,59,18.1,6.8,2.66,85,469,11.0,Baptiste,Zenyatta,Ana,4
4,13080044060015097186088,5,uaena,4503,172.0,111.0,61,23.6,7.0,3.38,85,932,55.0,Widowmaker,McCree,Ana,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23032,27078075244099180087016,23033,소리없는검,540,141.0,147.0,49,20.2,10.6,1.90,54,359,53.0,Junkrat,Moira,Reinhardt,bronze
23033,243116241127093034212249,23034,쌍바놔놔,538,18.0,31.0,37,14.9,7.9,1.88,35,144,8.0,Widowmaker,McCree,Tracer,bronze
23034,238047226154239156241160,23035,DoomPeace,535,18.0,21.0,46,15.9,7.5,2.13,34,70,6.0,Zenyatta,Moira,Baptiste,bronze
23035,130145216197178069097108,23036,랜클리어,515,10.0,15.0,40,14.2,11.4,1.24,8,161,4.0,Moira,D.Va,Junkrat,bronze
23036,238088121051143004100151,23037,COOK,504,19.0,20.0,49,13.7,8.4,1.64,36,333,6.0,Reinhardt,Junkrat,Roadhog,bronze

## 상세 테이블

In [ ]:
# 종합 통계에서 필요한 라벨
stats = ['Damage dealt/Game', 'Healed/Game', 'Time Played', 
         'Time Played/Day', 'Time on fire', 'Avg Time on Fire', 'Avg Obj Time', 'Avg Obj Kills', 
         'Cards', 'Avg Medals/Game', 'Gold', 'Silver', 'Bronze']
data = {}
i = 0
for DBid in df['DBid']:
    url = 'https://overwatch.op.gg/detail/overview/{}'.format(DBid)
    resp = requests.get(url)

    soup = BeautifulSoup(resp.text)
    
    
    # 종합 통계
    summary_stats = soup.find('div', class_='PlayerSideSummaryStats')
    # 가끔씩 프로필 비공개로 바꾸는 사람이 있기에 해당 DBid는 넘어가자
    if summary_stats == None:
        continue
    # DBid 추가
    if 'DBid' in data:
        data['DBid'].append(DBid)
    else:
        data['DBid'] = [DBid]
        
    # 종합 통계
    stat_list = summary_stats.find_all('li')[4:17] # 내가 확인해보고 싶은 리스트의 자리가 5번째 ~ 17번째에 있다.
    for stat in stat_list:
        b = stat.find('b').get_text() # lavel
        span = stat.find('span').get_text() # content
        
        if b in data:
            data[b].append(span)
        else:
            data[b] = [span]

    # 진행사항
    i += 1
    print(round(i/df['DBid'].count(),2))
    clear_output(wait=True)
print('Complete')

0.08

In [ ]:
detail_df = pd.DataFrame(data)
detail_df
# data
# detail_df.to_csv('detail.csv')